.sc-service .content-wrap {
  padding: 27px 40px 22px;
  border: 4px solid #e4e4e4;
  border-radius: 20px 0;
}
.sc-service .group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc-service .group-header .nav {
  display: flex;
  align-items: center;
  gap: 0 1px;
}
.sc-service .group-header .nav [class *= "button"] {
  position: static;
  width: 31px;
  height: 31px;
  margin: 0;
  border: 1px solid #d4d5dc;
}
.sc-service .group-header .nav .swiper-button-prev::after, .swiper-button-next::after {
  content: '';
  width: 6px;
  height: 9px;
  background: url(../images/sp_main.png) no-repeat;
  background-position: 0 0;
}
.sc-service .group-header .nav .swiper-button-prev::after {
  transform: rotate(180deg);
}
.sc-service .group-header .nav .open-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-service .group-header .nav .open-button::after {
  content: '';
  width: 14px;
  height: 13px;
  background: url(../images/sp_main.png) no-repeat 100% 100%;
  background-position: -10px -35px;
}
.sc-service .group-content .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.sc-service .group-content .service-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc-service .group-content .service-link .img-wrap {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin-bottom: 5px;
  background: #ffecee;
  border-radius: 50%;
}

/* .swiper-slide[tabindex="-1"] {
  visibility: hidden;
} */